body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #999999;
	background-image:url(/web/20050428204651im_/http://www.youtube.com/img/bg.gif);
}

a:link, a:visited, a:active {
	color: #0033CC;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	}

input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: square;
	list-style-position: outside;
}

li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

ol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: decimal;
	list-style-position: outside;
}

.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.big {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #111111;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #003366;
}

.title_login {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #003366;
}

.title_bar {
	background-color:#BBCCDD;
}

.bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #000000;
}

.highlight {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #333333;
}

.highlight_form {
	background-color:#FFFF99
}

.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #111111;
}

.success {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #333333;
}

.error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #FF0000;
}

.bodystyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.text_space {
	line-height: 2em
}

.box1 {
	padding: 3px;
	border-width: thin;
	border-style: solid;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 {
	border-width: 3px;
	border-style: solid;
	padding: 5px;
}

.box3 {
	border: dotted #666666;
}

/*
     FILE ARCHIVED ON 20:46:51 Apr 28, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:44:56 Apr 23, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.587
  exclusion.robots: 0.085
  exclusion.robots.policy: 0.076
  cdx.remote: 0.053
  esindex: 0.009
  LoadShardBlock: 229.423 (3)
  PetaboxLoader3.resolve: 217.201 (4)
  PetaboxLoader3.datanode: 56.772 (4)
  load_resource: 47.177
*/